<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.8/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         verbose="true">
  <testsuites>
    <testsuite name="Micmia Twig Test">
      <directory suffix="Test.php">tests/Micmia/Twig</directory>
    </testsuite>
  </testsuites>

</phpunit>